body {
    background-color: #141414;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card {
    background-color: #212121;
    border: none;
}

.card img {
    border-radius: 10px;
}

.card-title {
    color: white;
}
